// COLORS ==========================================================
$color-black: #1D1D1D; // AAA on white
$color-grey-dark: #595959; // AAA on white
$color-grey-light: #E5E5E5; // AAA on black
$color-white: #FFFFFF; // AAA on black

$color-blue: #0074D9; // AA on white
$color-green: #348360; // AA on white
$color-purple: #B10DC9; // AA on white
$color-red: #EB0C00; // AA on white

// NON-TEXT
$color-grey: #BED1ED;


// SIZES ============================================================

// VIEWPORTS ========================================================
$viewport: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;
