// COLORS ==========================================================
$color-black: #1D1D1D; // ratio AAA with white
$color-grey-dark: #595959; // ratio AAA with white
$color-grey-light: #E5E5E5; // ratio AAA with black
$color-white: #FFFFFF; // ratio AAA with black

// $color-blue: rgb(49, 92, 105); // ratio AAA with white
// $color-green: rgb(173, 226, 93); // ratio AAA with black
// $color-green-dark: rgb(58, 87, 67); // ratio AAA with white
// $color-green-light: rgb(207, 255, 179); // ratio AAA with black
// $color-yellow: rgb(252, 236, 82); // ratio AAA with black

$color-blue: #64B7AD; // ratio AAA with black
$color-blue-dark: #264653; // ratio AAA with white
$color-orange: #F4A261; // ratio AAA with black
$color-orange-light: #F8C8A0; // ratio AAA with black
$color-red: #ED9680; // ratio AAA with black
$color-yellow: #FCEC52; // ratio AAA with black


// SIZES ============================================================
$size-nav-height: 4em;

// VIEWPORTS ========================================================
$viewport: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;
