.rounds__existing {
  .rounds__existing__round {  
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0;
    .rounds__existing__round__image {
      height: 100px;
      width: auto;
    }
  }
}

.rounds__select-type {
  background-color: grey;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  div {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    width: calc(33% - 40px);
    p {
      &:last-child {
        font-size: 0.85em;
      }
    }
    &:hover {
      background-color: indigo;
      p {
        color: white;
      }
    }
  }
  .rounds__select-type__title {
    width: 100%;
  }
}

.rounds__to-add {
  display: none;
  flex-direction: column;
  .rounds__to-add__form {
    display: none;
    flex-direction: column;
  }
  .rounds__to-add__form__add-question {
    display: block;
  }
}

.tie-breaker {
  display: none;
}