@import '_variables';

.active {
  background-color: green !important;
}

.lobby__host {
  border: 1px solid red;
  display: none;
  margin: 10px auto;
  width: 90%;
  .lobby__host__round-select {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    p {
      width: 100%;
    }
    .lobby__host__round-select__round {
      background-color: #333333;
      border-radius: 5px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      margin: 10px;
      padding: 10px;
      width: 33%;
    }
    .lobby__host__round-select__round--active {
      background-color: green;
    }
  }
  .lobby__host__round-display__questions__question {
    align-items: stretch;
    background-color: grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
    .lobby__host__round-display__questions__question__left {
      width: 75%;
    }
    .lobby__host__round-display__questions__question__right {
      align-items: center;
      background-color: #333333;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 25%;
    }
  }
}

.lobby__player {
  border: 1px solid orange;
  display: none;
  margin: 10px auto;
  width: 90%;
  .lobby__player__waiting {
    display: none;
  }
  .lobby__player__question {
    display: none;
  }
  .lobby__player__round-display__multiple__options {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border: 1px solid grey;
      border-radius: 5px;
      box-sizing: border-box;
      cursor: pointer;
      margin: 10px 0;
      padding: 10px;
    }
  }
}