<script type="text/javascript" src="/static/scripts/global.js"></script>
{{#each scripts}}
	<script defer type="text/javascript" src="/static/scripts/{{file}}.js"></script>
{{/each}}

</body>

</html>
