.active {
  background-color: green !important;
}

.lobby__host {
  border: 1px solid red;
  display: none;
  margin: 10px auto;
  width: 90%;
}
.lobby__host .lobby__host__round-select {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.lobby__host .lobby__host__round-select .lobby__host__round-play__round,
.lobby__host .lobby__host__round-select .lobby__host__round-mark__round,
.lobby__host .lobby__host__round-select .lobby__host__toggle-leaderboard {
  background-color: #333333;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  width: calc(50% - 20px);
}
.lobby__host .lobby__host__round-select .lobby__host__round-play__round--active {
  background-color: green;
}
.lobby__host .lobby__host__round-display__questions__question {
  align-items: stretch;
  background-color: grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}
.lobby__host .lobby__host__round-display__questions__question .lobby__host__round-display__questions__question__left {
  width: 75%;
}
.lobby__host .lobby__host__round-display__questions__question .lobby__host__round-display__questions__question__right {
  align-items: center;
  background-color: #333333;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 25%;
}
.lobby__host .lobby__host__round-display__questions__question .lobby__host__round-display__questions__question__player-responses {
  text-align: center;
  width: 100%;
}
.lobby__host .lobby__host__round-marking table {
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 5px 10px;
  table-layout: fixed;
  width: 100%;
}
.lobby__host .lobby__host__round-marking table td {
  border: 1px solid grey;
  padding: 5px 10px;
}
.lobby__host .lobby__host__round-marking table th {
  background-color: #CCCCCC;
  padding: 5px 10px;
}
.lobby__host .lobby__host__round-marking table tr:first-child th {
  background-color: #333333;
  color: white;
}
.lobby__host .lobby__host__round-marking .lobby__host__round-marking__mark-button {
  background-color: darkgreen;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
}
.lobby__host .lobby__host__round-marking .lobby__host__round-marking__mark-button--half {
  background-color: darkorange;
}
.lobby__host .lobby__host__round-marking .lobby__host__round-marking__mark-button--wrong {
  background-color: #a20000;
}

.all__leaderboard {
  display: none;
}

.lobby__player {
  border: 1px solid orange;
  display: none;
  margin: 10px auto;
  width: 90%;
}
.lobby__player .lobby__player__waiting {
  display: none;
}
.lobby__player .lobby__player__question {
  display: none;
}
.lobby__player .lobby__player__round-display__multiple__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lobby__player .lobby__player__round-display__multiple__options li {
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

/*# sourceMappingURL=lobby.css.map */
