<script>const triviaData = {{{triviaData}}}</script>

<h1>Your trivia, <span id="hostName"></span> 👑</h1>
<p>Your trivia room code: <span id="hostTriviaId"></span></p>

<hr />

<div class="rounds">
  <h2>Rounds</h2>

  <div class="rounds__select-type">
    <p class="rounds__select-type__title">Add a round</p>
    <div id="roundTypeMultiple">
      <p>Multiple Choice</p>
      <p>Players guess either A, B, C, or D.</p>
    </div>
    <div id="roundTypePicture">
      <p>Picture</p>
      <p>Players guess the image.</p>
    </div>
    <div id="roundTypeLightning">
      <p>Lightning</p>
      <p>Players must provide exact answer.</p>
    </div>
  </div>

  <div class="rounds__to-add">
    <p class="rounds__to-add__title">Add a </p>
    <form class="rounds__to-add__form" method="POST">
      <div class="rounds__to-add__form__questions"></div>
    <button class="rounds__to-add__form__add-question">Add a question</button>
    <button class="rounds__to-add__form__cancel">Cancel</button>
    <input class="rounds__to-add__form__save" type="submit" value="Save Round">
    </form>
  </div>
</div>

<hr />

<form id="hostForm" method="POST">

  <input id="form-host-submit" name="host-submit" type="submit" value="Host trivia!">
  <p>Steps needed to enable the "Host trivia!" button:</p>
  <ol>
    <li>Add at least 1 round.</li>
    <li>Add a tie breaker question.</li>
  </ol>
</form>