<h1>Your trivia, {{data.host}} 👑</h1>

<p>Your trivia room code: {{data.triviaId}}</p>

<hr />

<form action="/host" method="POST">
  <div class="host__add-a-round">
    <p class="host__add-a-round__title">Add a round</p>
    <div>
      <p>Multiple Choice</p>
      <p>Players guess either A, B, C, or D.</p>
    </div>
    <div>
      <p>Picture</p>
      <p>Players guess the image.</p>
    </div>
    <div>
      <p>Lightning</p>
      <p>Players must provide exact answer.</p>
    </div>
  </div>

  <hr />

  <input disabled id="form-host-submit" name="host-submit" type="submit" value="Host trivia!">
  <p>Steps needed to enable the "Host trivia!" button:</p>
  <ol>
    <li>Add at least 1 round.</li>
    <li>Add a tie breaker question.</li>
  </ol>
</form>