<h1>Welcome to browser-trivia 🎉</h1>

<form action="/host" method="post">
  <label for="form-index-host-name">Name</label>
  <input id="form-index-host-title" name="host-index-name" required type="text">
  <br />
  <input id="form-index-host-submit" name="host-index-submit" type="submit" value="Host">
</form>

<hr />

<form class="form__player" method="post">
  <label for="form-player-name">Name</label>
  <input id="form-player-title" name="player-name" required type="text">
  <br />
  <label for="form-room-code">Room code</label>
  <input id="form-room-code" name="room-code" onkeyup="updateFormAction(event)" pattern="[A-Za-z]{4}" required title="Must be exactly 4 characters." type="text">
  <br />
  <input id="form-player-submit" name="player-submit" type="submit" value="Join">
</form>