<script>
  const triviaData = {{{triviaData}}}
  let lobbyData = {{{lobbyData}}}
  const playerName = '{{playerName}}'
</script>

<h1>Welcome to trivia, {{playerName}} 👋</h1>

<p>Your trivia host: <span id="infoTriviaHost"></span></p>
<p>Room code: <span id="infoTriviaId"></span></p>

<p>People in lobby</p>
<ul class="lobby__players"></ul>

<div class="lobby__host">
  <div class="lobby__host__round-select">
  </div>
  <div class="lobby__host__round-display"></div>
  <div class="lobby__host__round-marking"></div>
</div>

<div class="all__leaderboard">
  <h2>Leaderboard</h2>
  <div class="all__leaderboard__list"></div>
</div>

<div class="lobby__player">
  <div class="lobby__player__waiting">
    <p>Please wait for trivia host.</p>
  </div>
  <div class="lobby__player__round-display"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
