<script>
  const triviaData = {{{triviaData}}}
  const playerName = '{{playerName}}'
</script>

<h1>Welcome to trivia, {{playerName}} 👋</h1>

<p>Your trivia host: <span id="infoTriviaHost"></span></p>
<p>Room code: <span id="infoTriviaId"></span></p>

<p>People in lobby</p>
<ul class="lobby__players"></ul>

<script src="/socket.io/socket.io.js"></script>